* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-background: #202123;
    --color-text: #ffffff;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--color-background);
    color: var(--color-text);
}
